:root {
  --first: #4158d0;
  --second: #c850c0;
  --third: #ffcc70;
}

.code-editor {
  background: white;
  /* Our gradient */
}
.code-editor::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -3px;
  left: 0;
  height: 99%;
  width: 100%;
  opacity: 0.5;
  /* border-radius: 50px; */
  /* transform: scale(1.01); */
  background: inherit;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--purple)),
    to(var(--pink))
  );
  background: linear-gradient(
    to right,
    var(--first),
    var(--second),
    var(--third)
  );
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
